{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="h3"> Some great intro here</h2>
        <p class="text-big"> CHECK OUT MY BUTTONS </p></div>
    </div>
    <hr>
    <div class="row">
      co tu jest
      </div>
  </div>
</section>


<div class="container">
  <!--Linkedin-->
  <li class="list-inline-item"><a href="http://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>

  <!--Github-->
  <button type="button" class="btn btn-git"><i class="fab fa-github"></i></button>

  <!--Email-->
  <button type="button" class="btn btn-email"><i class="fas fa-envelope"></i></button>

</div>


{% endblock content %}
