
{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="container">






<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 500px;">
	<h4 class="card-title mt-3 text-center">Log In</h4>
	<p class="text-center">Login using your name and password given in registration</p>
	<!-- <p> -->
		<!-- <a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Login via Gmail</a> -->
		<!-- <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a> -->
	<!-- </p> -->
	<!-- <p class="divider-text"> -->
        <!-- <span class="bg-light">OR</span> -->
    <!-- </p> -->
	<form action='' method="POST">
		{% csrf_token %}
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="username" class="form-control" placeholder="Name" type="text">
    </div> <!-- form-group// -->
    <!-- <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Email address" type="email">
    </div>  -->
    <!-- form-group// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="password" class="form-control" placeholder="Password" type="password">
    </div> <!-- form-group// -->

		{% for message in messages %}

			<p class="text-center"> {{ message }} </p>

		{% endfor %}

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Login  </button>
    </div> <!-- form-group// -->
    <p class="text-center">Don't have an account? <a href="/register">Sign up</a> </p>
</form>
</article>
</div> <!-- card.// -->

</div>
<!--container end.//-->

{% endblock content %}
